@font-face {
  font-family: "Helvetica";
  src: url("https://candyfonts.com/wp-data/2019/04/06/51645/HELR65W.ttf")
      format("woff"),
    url("https://candyfonts.com/wp-data/2019/04/06/51645/HELR65W.ttf")
      format("opentype"),
    url("https://candyfonts.com/wp-data/2019/04/06/51645/HELR65W.ttf")
      format("truetype");
}

.main-div {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.header {
  position: relative;
  padding-top: 130px;
  padding-bottom: 230px;
}
.header:before {
  background-image: url("../images/Copy-of-main.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  opacity: 0.6;
  content: " ";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer-about {
  position: relative;
  border: 4px solid #0844a4;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 6% 0;
}
h1 {
  font-size: 90px;
  color: #0844a4;
  padding-bottom: 80px;
}
.footer-about-link {
  font-size: 36px;
  color: #ffffff;
  background-color: #0e29f9;
  border: 1px solid #232323;
  border-radius: 4px;
  padding: 3%;
}

.main-information {
  background-color: #ffffff;
  padding-top: 40px;
}

.nav-container {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}
.nav-item {
  color: #0c59cf;
  font-size: 26px;
  padding-right: 3%;
}
.nav-item a {
  text-decoration: none;
}
.nav-item a:visited {
  color: #0c59cf;
}
.nav-line {
  font-size: 24px;
  color: #cacaca;
  padding-left: 20px;
}
.block {
  width: 100vw;
  height: 100vh;
}
h2 {
  color: #0844a4;
  font-size: 64px;
  text-align: center;
  padding-top: 25px;
}
.main-photo {
  grid-area: photo;
  width: 70%;
}

.section-about {
  grid-area: about;
  color: #808080;
  font-size: 22px;
  margin-top: 30px;
  font-weight: 100;
}
.section-one {
  grid-area: one;
}
.section-two {
  grid-area: two;
}
.section-three {
  grid-area: three;
}

.grid-about-container {
  text-align: center;
  display: grid;
  grid-template-columns: 35% 1fr 1fr 1fr;
  grid-template-rows: 40% auto;
  grid-template-areas:
    ". about about about"
    "photo one two three";
}

.check-mark-icon {
  background: url("../images/icon-ok.png") no-repeat center;
  width: 30px;
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  margin: 0 10px 8px 0;
}

h3 {
  display: inline;
  color: #0844a4;
  font-size: 34px;
  letter-spacing: 0.1em;
}
.about-overview {
  color: #808080;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 100;
}
.to-top {
  font-size: 24px;
  display: flex;
  justify-content: right;
  padding: 1% 5% 2% 0;
  text-decoration: none;
  color: #0c59cf;
}
.to-top a:visited {
  color: #0c59cf;
}

.grid-experience-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  text-align: center;
  margin: 5% 5%;
}

.experience-blok1 {
  border: 1px solid #7a7a7a;
  margin: 5%;
  padding: 5%;
}

.experience {
  color: #606060;
  font-size: 24px;
  font-weight: 100;
  padding: 6%;
  padding-bottom: 50px;
}

.experience-blok2 {
  padding: 3%;
  padding-top: 20px;
  background: radial-gradient(
      circle,
      #ffffff 20%,
      #000000 20% 21%,
      transparent 20% 42%,
      #000000 42% 43%,
      #ffffff 42%
    ),
    conic-gradient(
      from 0.1turn at 50% 50%,
      #ff3823 105deg,
      #000000 105deg 106deg,
      #fec63d 106deg 145deg,
      #000000 145deg 146deg,
      #629c44 146deg 250deg,
      #000000 250deg 251deg,
      #1464f6 251deg 359deg,
      #000000 359deg
    );
  border-radius: 50%;
  height: 100%;
}

.experience-block2-little-blocks {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  font-size: 12px;
  margin-top: 15px;
}
.block2-little-block1 {
  font-size: 22px;
  background-color: #1464f6;
  border-radius: 45%;
  border: 1px solid #000000;
  padding: 3%;
  margin: 0 5px;
}
.block2-little-block2 {
  font-size: 22px;
  background-color: #ff3823;
  border-radius: 45%;
  border: 1px solid #000000;
  padding: 3%;
  margin: 0 5px;
}
.block2-little-block3 {
  font-size: 22px;
  background-color: #fec63d;
  border-radius: 45%;
  border: 1px solid #000000;
  padding: 3% 4%;
  margin: 0 5px;
}
.block2-little-block4 {
  font-size: 22px;
  background-color: #629c44;
  border-radius: 45%;
  border: 1px solid #000000;
  padding: 3% 5%;
  margin: 0 5px;
}
.small-line {
  width: 150px;
  margin-top: 5%;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px;
}

.interest-photo {
  width: 400px;
  padding: 3%;
}
.interes-overview {
  color: #959595;
  font-size: 22px;
  padding-top: 10px;
  font-weight: 100;
  width: 30%;
  padding: 5%;
}

input:invalid:not(:placeholder-shown) {
  border-color: #ff3823;
}
input:valid:not(:placeholder-shown) {
  border-color: #0844a4;
}

.in-touch-overview {
  color: #959595;
  font-size: 14px;
  margin: 20px 0 40px 0;
  font-weight: 100;
  text-align: center;
  font-size: 18px;
}
.in-touch-message {
  font-family: Helvetica, Arial, sans-serif;
  grid-area: message;
  border: 1px solid #0844a4;
  color: #606060;
  padding: 1% 0 0 2%;
  font-size: 20px;
}
.in-touch-address {
  grid-area: address;
  border: 1px solid #0844a4;
  color: #606060;
  padding: 5%;
  font-size: 20px;
}
.in-touch-name {
  grid-area: name;
  border: 1px solid #0844a4;
  color: #606060;
  padding: 5%;
  font-size: 20px;
}
.in-touch-send {
  grid-area: send;
  background-color: #0844a4;
  border: 1px solid #606060;
  border-radius: 2px;
  color: #ffffff;
  padding: 5%;
  font-size: 20px;
}
.in-touch-container {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 35% auto;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "message message message"
    "address name send";
  gap: 10px 10px;
  margin-bottom: 60px;
}

.footer {
  text-align: center;
}
.footer-small-line {
  width: 150px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.inst-linc {
  background: url("../images/inst.png") no-repeat center;
}
.tg-linc {
  background: url("../images/tg.png") no-repeat center;
}
.fb-linc {
  background: url("../images/fb.png") no-repeat center;
}

.social-lincs a {
  width: 30px;
  height: 30px;
  padding: 0 1% 2% 1%;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1%;
}
.copywrite-icon {
  background-image: url("../images/16515111.png");
  width: 12px;
  display: inline-block;
  height: 12px;
}
.company-name {
  color: #0844a4;
  display: inline;
  font-size: 20px;
}
